@import url('https://fonts.googleapis.com/css2?family=Headland+One&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Headland+One&display=swap" rel="stylesheet');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Headland One", serif;
    text-decoration: none;
    list-style: none;
}

:root{
    --text-color: #027A76;
    --header-color: #e86c4f;
    --bg-color: #f2e5d3;


}

body{
    background: #f2e5d3;
    color: #3d9375;
}


header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 27px 9%;
    transition: all ease .55s;
    background-color: #e86c4f;
}

.logo{
    display: flex;
    align-items: center;
}

.logo i{
    vertical-align: middle;
    margin-right: 5px;
}

.logo img{
    max-width: 130px;
}

.nav{
    display: flex;

}

.nav a{
    font-size: 17px;
    color: var(--text-color);
    font-weight: 600;
    margin: 0 35px;
    transition: all ease .55s;
}

.nav a:hover{
    color: #bfddce;
}

.icon{
    display: none;
}

.atas{
    position: relative;
    max-height: 510px;
    background: url("aset/bgproduct.png");
    background-position: center;
    background-size: cover;
    padding-top: 150px;
    min-height: 510px;

}

.atas::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(120, 119, 119, 0.4);
}

.atas .content{
    height: 85%;
    flex-direction: column;
    justify-content: center;

}

.atas .text{
    text-align: center;
    padding-top: 70px;
}

.atas .text h1{
    color: #5d0703;
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 10px;
    font-family: "Bebas Neue", sans-serif;
}

.section-title h1{
    font-size: 50px;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    padding-top: 50px;
    color: #405955;
}


footer {
    background-color: #f2e5d3;
    width: 100%;
    margin-top: 80px;
    left: 0;
    padding-left: 0%;
}

.footerContainer {
    width: 100%;
    padding: 42px 30px 20px;
}

.socialIcons{
    display: flex;
    justify-content: center;
}

.socialIcons img{
    max-width: 50px;
    max-height: 50px;
}
.socialIcons a{
    text-decoration: none;
    padding:  5px;
    background-color: #f9a38b;
    margin: 10px;
    border-radius: 50%;
}
.socialIcons a i{
    font-size: 2em;
    color: black;
    opacity: 0.9;
}

.socialIcons a:hover{
    background-color: #ea565b;
    transition: 0.5s;
}
.socialIcons a:hover i{
    color:#027A76;
    transition: 0.5s;
}
.footerNav{
    margin: 30px 0;
}
.footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.footerNav ul li a{
    color: #014947;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;

}
.footerNav ul li a:hover{
    opacity: 1;
}
.footerBottom{
    padding: 20px;
    text-align: center;
}
.footerBottom p{
    color: #014947;
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}


.container{
    position: relative;
    max-width: 1350px;
    width: 100%;
    max-height: 900px;
    padding: 20px;
    margin: 50px auto;
    margin-bottom: 600px;
}

button{
    padding: 10px 20px;
    font-size: 18px;
    background: #f4a24c;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(120, 119, 119, 0.5);
    color: #027A76;
}

.filter_buttons{
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
}

button.active{
    background:#e86c4f;
    color: #014947;
}

.filterable_cards{
    display: flex;
    margin-top: 25px;
    gap: 20px;
    flex-wrap: wrap;
}

.card{
    flex-basis: 300px;
    background-color: #dbae8d;
    padding: 3px;
    border-radius: 5px;
    align-items: center;
}

.card img{
    width: 100%;
    height: 340px;
    object-fit: cover;
}

.card_body{
    padding: 23px 25px 25px;
}

.card_body h6{
    font-size: 35px;
    color: #014947;
    font-weight: 600;
    font-family: "Bebas Neue", sans-serif;
}

.card_body p {
    font-size: 15px;
    color: #014947;
}



@media (max-width: 1600px){
    header{
        padding: 13px 3%;
    }

}

@media (max-width: 1470px){
 
}

@media (max-width: 1400px){
    nav a{
        font-size: 10px;
    }

    logo img{
        max-width: 110px;
    }
    .container{
        position: relative;
        max-width: 1350px;
        width: 100%;
        padding: 20p;
        margin: 50px auto;
        margin-bottom: 600px;
        padding-left: 180px;
    }
}


@media (max-width: 1230px){
    .container{
        position: relative;
        max-width: 1350px;
        width: 100%;
        padding: 20p;
        margin: 50px auto;
        margin-bottom: 600px;
        padding-left: 80px;
    }
}

@media (max-width: 1070px){
    header{
        padding: 10px 3%;
    }

    .icon{
        display: block;
    }
    .icon img{
        max-width: 22px;
    }
    .nav{
        position: absolute;
        top: -700%;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background: #fc703c;
        transition: all ease .55s;
        text-align: left;
    }

    .nav a{
        display: block;
        font-size: 13px;
        font-weight: 400;
        margin: 0.8rem 1.8rem;
    }

    .nav.open{
        top: 100%;
    }

    .atas .text h1{
        color: #5d0703;
        padding-top: 60px;
        font-size: 40px;
        font-weight: 700;
        font-family: "Bebas Neue", sans-serif;
    }

    .footerNav ul{
        flex-direction: column;
    } 
    .footerNav ul li{
        width:100%;
        text-align: center;
        margin: 10px;
    }
    .socialIcons a{
        padding: 8px;
        margin: 4px;
    }

    .carousel img{
        width: calc(100% / 2);
      }
      .container{
        position: relative;
        max-width: 1350px;
        width: 100%;
        padding: 20p;
        margin: 50px auto;
        margin-bottom: 600px;
        padding-left: 150px;
    }
}
@media (max-width: 600px){

    .section-title h1{
        font-size: 35px;
        text-align: center;
        font-family: "Bebas Neue", sans-serif;
        padding-top: 30px;
        color: #405955;
    }
        .carousel img{
            width: 100%;
          }
    .container{
            position: relative;
            max-width: 1350px;
            width: 100%;
            padding: 20p;
            margin: 50px auto;
            margin-bottom: 600px;
            padding-left: 100px;
        }
    
}